@media (max-width: 700px) {

  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;

    background-color: #181818;
    border-top: 1px solid #303030;
    z-index: 1000;
  }

  .sideElements {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .sideElements span {
    display: none;
  }

  .icons .ham{
    display: none;
  }

  .videoSection {
    margin-left: 0;
    margin-bottom: 70px;
  }

  .categories {
    margin-left: 0;
  }

  .shortsContainer{
    align-items: center;
    justify-content: start;
    margin-left: 30px;
  }
  .shortsCard img{
    width: 150px;
    
  }

.searchbox{
  border: none;
}

.searchBtn{
  border-radius: 50%;

}


   .voiceSearch,
  .searchbox input {
    display: none;
  }

.navContainer{
  height: 120px;
}

.navbar{
  flex-direction: start;
 gap:150px;
}

}
