* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

body {
  height: 100vh;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./calculator.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0e0e0e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  background-color: rgba(77, 75, 75, 0.8);
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(0, 195, 255);
  font-family: 'Sigmar One', cursive;
  text-shadow: 0 0 10px rgba(0, 195, 255, 0.7);
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  border-radius: 10px;
  text-align: right;
  background-color: #1e1e1e;
  color: white;
  border: none;
  margin-bottom: 1.5rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

button {
  flex: 1 0 22%;
  padding: 20px 0;
  font-size: 1.2rem;
  min-width: 60px;
  max-width: 100px;
  height: 70px;
  text-align: center;
  border-radius: 10%;
  font-weight: 900;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #333;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}


@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  input {
    font-size: 1.5rem;
  }

  button {
    font-size: 1rem;
    height: 60px;
  }

  .header h1 {
    font-size: 1.5rem;
  }
}